/* header section */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border-bottom: 2px solid black;
}

.logo {
  display: inline-flex;
  color: aquamarine;
  padding-left: 20px;
  flex-shrink: 2;
}

.mytimes {
  align-items: center;
  padding: 10px 10px;
  width: 900px;
}
nav {
  display: inline-flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}
nav span {
  color: black;
}
